In [5]:
import implicit
import pandas as pd

In [9]:
user_item_data = pd.read_csv('../data/raw/ua.base', sep='\t', header=None)
user_item_data

         0     1  2          3
0        1     1  5  874965758
1        1     2  3  876893171
2        1     3  4  878542960
3        1     4  3  876893119
4        1     5  3  889751712
...    ...   ... ..        ...
90565  943  1047  2  875502146
90566  943  1074  4  888640250
90567  943  1188  3  888640250
90568  943  1228  3  888640275
90569  943  1330  3  888692465

[90570 rows x 4 columns]

In [1]:

# initialize a model
model = implicit.als.AlternatingLeastSquares(factors=64)

# train the model on a sparse matrix of user/item/confidence weights
model.fit(user_item_data)

# recommend items for a user
recommendations = model.recommend(userid, user_item_data[userid])

# find related items
related = model.similar_items(itemid)

ModuleNotFoundError: No module named 'implicit'